{% extends 'index.html' %}

{% block content %}

    <!-- content -->
    <div class="app-content-body">
        <div class="bg-light lter b-b wrapper-md">
            <h1 class="m-n font-thin h3">数据添加</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                {#                人员录入表单#}
                <form id="data_add_form" enctype="multipart/form-data" class="form-horizontal col-sm-6 col-sm-offset-3"
                      method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">交通补贴:</label>
                        <div class="col-sm-10">
                            <input name="traffic" type="file" class="form-control form-control-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">基层补贴:</label>
                        <div class="col-sm-10">
                            <input name="basic" type="file" class="form-control form-control-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">补发工资:</label>
                        <div class="col-sm-10">
                            <input name="salary" type="file" class="form-control form-control-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">过节费:</label>
                        <div class="col-sm-10">
                            <input name="festival" type="file" class="form-control form-control-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">独生子女费:</label>
                        <div class="col-sm-10">
                            <input name="only" type="file" class="form-control form-control-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">计生奖:</label>
                        <div class="col-sm-10">
                            <input name="family" type="file" class="form-control form-control-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">临时补贴:</label>
                        <div class="col-sm-10">
                            <input name="temporary" type="file" class="form-control form-control-file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">其他项目:</label>
                        <div class="col-sm-10">
                            <input name="other" type="file" class="form-control form-control-file">
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-info">上传文件</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / content -->

{% endblock %}

{% block js %}
    <script>
        $(".btn-info").click(function () {
            var data = new FormData($("#data_add_form").get(0));

            var inputs = new Array();
            if(data.get("traffic").name != "") {
                var filename = data.get("traffic").name;
                if(filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlx" &&
                    filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlsx") {
                    sweetAlert("文件格式错误", "文件名:'" + filename +"'不是指定的 Excel 文件", "error");
                    return ;
                }
                inputs[inputs.length] = filename;
            }
            if(data.get("basic").name != "") {
                var filename = data.get("basic").name;
                if(filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlx" &&
                    filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlsx") {
                    sweetAlert("文件格式错误", "文件名:'" + filename +"'不是指定的 Excel 文件", "error");
                    return ;
                }
                inputs[inputs.length] = filename;
            }
            if(data.get("salary").name != "") {
                var filename = data.get("salary").name;
                if(filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlx" &&
                    filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlsx") {
                    sweetAlert("文件格式错误", "文件名:'" + filename +"'不是指定的 Excel 文件", "error");
                    return ;
                }
                inputs[inputs.length] = filename;
            }
            if(data.get("festival").name != "") {
                var filename = data.get("festival").name;
                if(filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlx" &&
                    filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlsx") {
                    sweetAlert("文件格式错误", "文件名:'" + filename +"'不是指定的 Excel 文件", "error");
                    return ;
                }
                inputs[inputs.length] = filename;
            }
            if(data.get("only").name != "") {
                var filename = data.get("only").name;
                if(filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlx" &&
                    filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlsx") {
                    sweetAlert("文件格式错误", "文件名:'" + filename +"'不是指定的 Excel 文件", "error");
                    return ;
                }
                inputs[inputs.length] = filename;
            }
            if(data.get("family").name != "") {
                var filename = data.get("family").name;
                if(filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlx" &&
                    filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlsx") {
                    sweetAlert("文件格式错误", "文件名:'" + filename +"'不是指定的 Excel 文件", "error");
                    return ;
                }
                inputs[inputs.length] = filename;
            }
            if(data.get("temporary").name != "") {
                var filename = data.get("temporary").name;
                if(filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlx" &&
                    filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlsx") {
                    sweetAlert("文件格式错误", "文件名:'" + filename +"'不是指定的 Excel 文件", "error");
                    return ;
                }
                inputs[inputs.length] = filename;
            }
            if(data.get("other").name != "") {
                var filename = data.get("other").name;
                if(filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlx" &&
                    filename.substr(filename.lastIndexOf(".")).toLowerCase() != ".xlsx") {
                    sweetAlert("文件格式错误", "文件名:'" + filename +"'不是指定的 Excel 文件", "error");
                    return ;
                }
                inputs[inputs.length] = filename;
            }

            if(inputs.length < 1) {
                sweetAlert("文件列表为空", "请选择需要上传的文件", "error");
                return ;
            }

            // 文件校验
            if(inputs.length > 1) {
                for (var i = 0; i < inputs.length - 1; ++i) {
                    for (var j = 1; j < inputs.length; ++j) {
                        if (inputs[i] == inputs[j]) {
                            sweetAlert("文件名重复", "重复文件名:" + inputs[i], "error");
                            return ;
                        }
                    }
                }
            }

            $.ajax({
                url: '{% url 'add_data' %}',
                type: "POST",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (result) {
                    if("success" == result.status) {
                        swal({
                                title: "执行成功",
                                text: result.msg,
                                type: "success",
                                timer: 1000,
                                showConfirmButton: false
                            },
                            function () {
                                location.href = '{% url 'add_data' %}';
                            });
                    }else{
                        sweetAlert("执行失败", result.msg, "error");
                    }
                },
                error: function (result) {
                    sweetAlert("错误", result.msg, "error");
                }
            });
        });
    </script>
{% endblock %}