
{% extends 'index.html' %}
{% load staticfiles %}
<!-- content -->

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="app-content-body">
        <div>
            <div class="col2 bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3">{{ request.user.name }} 工资条</h1>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 text-center">
                            <div class="col-sm-6 form-group">
                                <label for="">开始日期</label>
                                <div class="input-group date form_date">
                                    <input type="text" class="form-control" id="start_date" name="start_date" value="{{ start_date | date:'Y-m' }}" readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">结束日期</label>
                                <div class="input-group date form_date">
                                    <input type="text" class="form-control" id="end_date" name="end_date" value="{{ end_date | date:'Y-m' }}" readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-hover" data-toggle="table">
                                <thead>
                                <tr>
                                    <th class="text-center" style="width:20%">日期</th>
                                    <th class="text-center" style="width:20%">应发金额</th>
                                    <th class="text-center" style="width:20%">应扣金额</th>
                                    <th class="text-center" style="width:20%">实发金额</th>
                                    <th class="text-center" style="width:20%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in datas reversed %}
                                    {% ifnotequal data None %}
                                        <tr>
                                            <td class="text-center">{{ data.date | date:'Y-m' }}</td>
                                            <td class="text-center">{{ data.salary }}</td>
                                            <td class="text-center">{{ data.discount }}</td>
                                            <td class="text-center">{{ data.really_salary }}</td>
                                            <td class="text-center">
                                                {% ifnotequal data.salary "无数据" %}
                                                    <a href="/index/salary_detail/{{ start_date | date:'Y-m' }}/{{ data.date | date:'Y-m' }}/{{ end_date | date:'Y-m' }}/" class="btn btn-info btn-xs">查看</a>
                                                {% endifnotequal %}

                                            </td>
                                        </tr>
                                    {% endifnotequal %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script>
        $('.form_date').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 3,
            minView: 3,
            forceParse: 0,
            format: 'yyyy-mm',
            showMeridian: 1
        }).on('changeDate', function (ev) {
            var start = $("#start_date").val();
            var end = $("#end_date").val();
            if( start != "" && end != "")
            {
                if( end >= start ){
                    // 执行工资查询
                    location.href="/index/salary/" + start + "/" + end + "/";
                }else{
                    sweetAlert("错误!", "你选择的结束日期不能小于开始日期", "error");
                }
            }
        });

        $(".btn-danger").click(function () {
            var id = this.getAttribute("id");
            $.ajax({
                url: "/index/user_delete/"+id+"/",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                type: "POST",
                success: function (result) {
                    if("success" == result.status) {
                        swal({
                                title: "执行成功",
                                text: result.msg,
                                type: "success",
                                timer: 1000,
                                showConfirmButton: false
                            },
                            function () {
                                location.href = '{% url 'user_list' %}';
                            });
                    }else{
                        sweetAlert("失败!", result.msg, "error");
                    }
                },
                error: function (result) {
                    sweetAlert("错误!", result.msg, "error");
                }
            });
        });
    </script>
{% endblock %}
