
{% extends 'index.html' %}
{% load staticfiles %}
<!-- content -->

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="app-content-body">
        <div>
            <div class="col2 bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3">工资查看</h1>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 text-center">
                            <div class="col-sm-6 form-group">
                                <label for="">开始日期</label>
                                <div class="input-group date form_date">
                                    <input type="text" class="form-control" id="start_date" readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="">结束日期</label>
                                <div class="input-group date form_date">
                                    <input type="text" class="form-control" id="end_date" readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-hover" data-toggle="table">
                                <thead>
                                <tr>
                                    <th class="text-center" style="width:10%">日期</th>
                                    <th class="text-center" style="width:10%">应发金额</th>
                                    <th class="text-center" style="width:10%">应扣金额</th>
                                    <th class="text-center" style="width:10%">补发金额</th>
                                    <th class="text-center" style="width:40%">内容说明</th>
                                    <th class="text-center" style="width:10%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for salary in salarys.object_list %}
                                    <tr>
                                        <td class="text-center">{{ salary.date | date:'Y-m-d' }}</td>
                                        <td class="text-center">{{ salary.salary }}</td>
                                        <td class="text-center">{{ salary.salary }}</td>
                                        <td class="text-center">{{ salary.salary }}</td>
                                        <td class="text-center">{{ salary.salary }}</td>
                                        <td class="text-center"><a href="" class="btn btn-info btn-xs">查看</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- 分页 -->
                            <nav>
                                <ul class="pagination pagination-sm">
                                    {% if salarys.has_previous %}
                                        <li>
                                            <a>
                                                <span>上一页</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="hidden">
                                            <a>
                                                <span>上一页</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for page in salarys.pages %}
                                        {% if page %}
                                            {% ifequal page users.number %}
                                                <li class="active">
                                                    <a href="#">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="#">{{ page }}</a>
                                                </li>
                                            {% endifequal %}

                                        {% endif %}
                                    {% endfor %}

                                    {% if salarys.has_next %}
                                        <li>
                                            <a>
                                                <span>下一页</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="hidden">
                                            <a>
                                                <span>下一页</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </nav>
                            <!-- / 分页 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script>
        $('.form_date').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 3,
            minView: 3,
            forceParse: 0,
            format: 'yyyy-mm',
            showMeridian: 1
        }).on('changeDate', function (ev) {
            var start = $("#start_date").val();
            var end = $("#end_date").val();
            if( start != "" && end != "")
            {
                if( end >= start ){
                    // 执行工资查询
                }else{
                    ev.date = ""
                    alert("你选择的日期开始时间和结束时间不对")
                }
            }
        });

        $(".btn-danger").click(function () {
            var id = this.getAttribute("id");
            $.ajax({
                url: "/index/user_delete/"+id+"/",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                type: "POST",
                success: function (result) {
                    if("success" == result.status) {
                        swal({
                                    title: "执行成功",
                                    text: result.msg,
                                    type: "success",
                                    timer: 1000,
                                    showConfirmButton: false
                                },
                                function () {
                                    location.href = '{% url 'user_list' %}';
                                });
                    }else{
                        sweetAlert("失败!", result.msg, "error");
                    }
                },
                error: function (result) {
                    sweetAlert("错误!", result.msg, "error");
                }
            });
        });
    </script>
{% endblock %}
